<div class="urllog">
    <form class="form-group"
        data-ng-init="filter = ''; currentPage = 1"
    >
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input class="form-control" data-ng-model="filter" placeholder="Filter" type="search" />
        </div>
    </form>

    <pagination
        data-ng-show="plugin.urls.length"
        data-total-items="plugin.urls.length | filter : filter"
        data-page="currentPage"
        data-items-per-page="50"
        data-boundary-links="true"
        data-rotate="false"
        data-max-size="7"
    ></pagination>

    <p class="alert alert-info text-center"
        data-ng-hide="plugin.urls.length"
    >
        Loading...
    </p>

    <p class="alert alert-info text-center"
        data-ng-show="(plugin.urls | filter: filter).length === 0"
    >
        No data...
    </p>

    <dl class="dl-horizontal" style="margin-bottom: 3px;"
        data-ng-repeat="url in (plugin.urls | filter : filter | orderBy : 'timestamp' : true).slice((currentPage - 1) * 50, currentPage * 50)"
    >
        <dt>
            {{url.timestamp | date : 'short'}}
        </dt>
        <dd>
            <a data-ng-href="{{url.url}}">{{url.url}}</a>
            <span data-ng-show="url.title"> - {{url.title}}</span>
            <em data-ng-show="url.description"> - {{url.description}}</em>
            <span class="text-muted"> - {{url.from}}</span>
        </dd>
    </dl>
</div>